.filter-sidebar {
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    color: black;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
  }
  
  .clean-button {
    background-color: #4caf50;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  .filter-button:hover {
    background-color: #45a049;
  }
  